<table class="table">
	<tr>
		<th>Id</th>
		<th>Nome</th>
		<th>Endereço</th>
		<th>Especialidade</th>
	</tr>
	<% @restaurantes.each do |r|  %>
	<tr>
		<td><%= r.id %></td>
		<td><%= r.nome %></td>
		<td><%= r.endereco %></td>
		<td><%= r.especialidade %></td>
		<td><%= link_to 'Exibir',r, action: 'show',class: 'btn btn-info btn-xs' %></td>
		<td><%= link_to 'Editar', edit_restaurante_path(r), class: 'btn btn-warning btn-xs' %></td>
		<td><%= link_to 'Deletar',r, method: :delete, data: { confirm: 'Vocẽ tem certeza?' },class: 'btn btn-danger btn-xs'%></td>
	</tr>
	<% end %>
</table>
<%= paginate @restaurantes %>
<br />
<%= link_to new_restaurante_path, class: 'btn btn-success btn-lg' do %>	
	<i class="glypgicon glyphicon-plus"></i>Novo
<% end %>
