<!DOCTYPE html>
<html>
<head>
  <title>VotaPrato</title>
  <%= stylesheet_link_tag 'scaffold'%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= menu_principal  %w(restaurantes clientes qualificacoes) %>


 <div id="main-container" class="container-fluid">
      <div class="row">
        <div id="sidebar" class="col-xs-3">
        <h3>Como bem, coma certo!</h3>
        </div>
        <div id="main-content" class="col-xs-9">
        <%= yield %>
        </div>
      </div>
    </div>

<script type="text/javascript">
	<%= yield :js %>
</script>

</body>
</html>
